h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutme-header{
    padding-left: 450px;
    color: black;
}
.paragraph-aboutme{
    padding-top: 300px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

#container{
    width: 700px;
    margin: 0 auto;
}

.center {
    padding:70px 15px 15px 40px;
    border: 0px solid green;
    text-align: justify;
}

body {
    background-color: #93B874;
    width: 600px;
}

.contact-body{
    background-color: whitesmoke;
}

.contact{
    position: absolute;
    margin-left: 490px;
    color: dodgerblue;
}

.contact-header1{
    padding-left: 400px;
    color: black;
}

img {

    position: relative;
    top: 60%;
    left: 50%;
    border-radius: 8px;
    padding-top: 100px;
    right: 150px;
    margin-left: -150px;
    margin-top: -100px;
}

.img-contact{
    position: relative;
    top: 100pt;
    left: 50%;
    margin-left: -450px;
    margin-top: -150px;
}

.cell{
    top:10pt;

    padding-left: 480px;
}
.email{
    padding-left: 480px;
}
.facebook{
    padding-left: 480px;
}
.address{
    padding-left: 480px;
}
.footer-index{
    margin-top: 100px;
}
#footer-contact{
    margin-top: 100px;
}
#nav_bar ul{
    list-style: none;

    padding: 1em 0;
    border-top: 2px solid firebrick;
    border-bottom: 2px solid firebrick;

}
#nav_bar li{
    display: inline;
    padding: 0 4.2em;
    border-right: 2px solid firebrick;
}
#na a{
    font-weight: bold;
    color: blue;
}
#nav_bar a.current{
    text-decoration: none;
}
#nav_bar_contact ul{
    list-style: none;

    padding: 1em 0;
    border-top: 2px solid firebrick;
    border-bottom: 2px solid firebrick;

}
#nav_bar_contact li{
    display: inline;
    padding: 0 10em;
    border-right: 2px solid firebrick;
}


/* Mozilla based browsers */
::-moz-selection {
background-color: #FF68B0;
color: #000;
}

/* Works in Safari */
::selection {
background-color: #FF68B0;
color: #FFF;
}

/* Works in Opera */
::-o-selection {
background-color: #FF68B0;
color: #FFF;
}
::-ms-selection {
background-color: #FF68B0;
color: #FFF;
}

/* Works in Internet Explorer */
::-webkit-selection {
background-color: #FF68B0;
color: #FFF;
}
